@import 'bourbon/bourbon.scss'; 
@import 'neat/neat'; 



@mixin roundy {
	border-radius: 10px; 
	border-top-radius: 8px; 
	border-bottom-left-radius: 8px; 
	font-family:'Ubuntu Mono';
	font-weight: lighter; 
	font-size: 2em; 
	width: 200px; 
	margin-top: 40px; 
	background-color: transparent;
	border-color: #00FFFF; 
	border-stlye: solid;

}





