@import 'bourbon/bourbon.scss'; 
@import 'base/_grid-settings.scss'; 
@import 'neat/neat'; 
@import 'base/base'; 
@import 'sass/_variables.scss';  
@import 'sass/_mixins.scss'; 
@import './sass/_colors.scss';
@import 'sass/_globals.scss'; 


/**********modal**********/

.remodal-bg {
  background: blur(1px); 

}

#main-logo {
  width: 25%; 
  height: auto; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: -20px; 
  display: block;   
}





#splash-logo {
  width: 45%;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: auto; 
  display: block; 
}

header {
  background-color: $footer-background; 
  margin: 20px;
}

#all-body {

background-color: $footer-background;
  
}

.text {

  font-family: 'Raleway Dots', cursive;
  color: whitesmoke;
  font-size: 3em; 
  text-align: center; 
  margin-top: -60px; 
  margin-bottom: 50px; 
    
  
  
}

#splash_page {
  background-image: url(../images.css/trees.jpg);
  background-repeat: no-repeat;
  background-size: cover;  
}

#down-arrow {
  width: 12%; 
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 30px; 
  display: block; 

}

.arrow_container {
  padding: 20px; 
}
.instructions {

text-align: center; 
  
}

.modal_header {
  
  font-family: 'Raleway Dots', cursive;
  color: #0AE8B3;
  font-size: 3em; 
  font-weight: 600;
}

.submit {

  font-family: 'Raleway Dots', cursive;
  color: #0AE8B3;
  font-size: 3em; 
  font-weight: 600;
  border-radius: 8px;
  padding: 5px 10px; 

  
}

.element {

  font-family: 'Raleway Dots', cursive;
  color: #0AE8B3;
  font-size: 1.6em; 
  
}

#wrapper {
 background: url('../images.css/linedpaper.png') no-repeat center; 
 background-size: 99%; 
 margin: 20px; 
 background-color: $footer-background;

}

/**********button**********/
.button {
  background: transparent; 
  font-family: 'Homemade Apple', cursive;
  font-size: 2em;  
  border: none;
  color: white;     
  background-color: none; 
}

#wrapper ul {
  text-align: center; 
  padding: 20px; 

}

#wrapper ul li {
  padding: 2px; 
}






 

/*******footer**********/

footer {
  padding: $base-line-height*2 $gutter;
  width: 100%;
  box-shadow: 0 500px 0 500px #383838;
  margin-top: 20em; 
  font-family: $serif; 
  .footer-logo {
    text-align: center;
    
    

    img {
      height: 2em;
    }
  } 

  .footer-links {
    @include clearfix;
    margin-bottom: $base-line-height;

    @include media($medium-screen) {
      @include shift(3);
    }
  }

  ul {
    margin-bottom: $base-line-height*2;

    @include media($medium-screen) {
      @include span-columns(3);
      @include omega(3n);
      @include clearfix;
    }
  }

  li {
    text-align: center;

    @include media($medium-screen) {
      text-align: left;
    }
  }

  li a {
    color: $footer-link-color;

    &:hover {
      color: transparentize($footer-color, 0);
    }
  }

  li h3 {
    color: $footer-color;
    font-size: 1em;
    font-weight: 800;
    margin-bottom: .4em;
    font-family: Raleway; 
  }  

  hr {
    border: 1px solid transparentize($footer-disclaimer-color, .3);
    margin: 0 auto $base-line-height;
    width: 12em;
  }

  p {
    color: $footer-disclaimer-color;
    font-size: .9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}


  
  
