
#contactme {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
}

#killer {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-items: baseline;
}

/*#buttons {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-justify-content: center;
  -webkit-flex-shrink: 2;
}*/

/*#buttons {
  height: 35em;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-flex-wrap: wrap;
  -webkit-justify-content: center;
  -webkit-align-items: baseline;
}*/
